h1{
    color: rgb(76, 231, 221);
    text-align: center;
        font-family: "Bungee", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      
    

    

      body{
        background: url(plage3.jpg) no-repeat fixed;
        background-size: cover;
    
      }
      







    

    
     





      


      
    
    

    


      












